body, #form1 {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Master Page */

.masterPageContent {
    min-height: 100vh;
    text-align: center;
    background-color: #9DC2F7; /* matching the lighter blue in my shirt*/
    /*background-color: #548EDB; Matching the darker blue in the shirt*/
}

header {
    height:15vh;
    width:100%;
    background-color:black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.headerRow {
    width:100%;
    height:100%;
    max-width:1000px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-end;
}

.headerTitle {
    /* width:30%; */
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.headerTitle p {
    color: transparent;
    -webkit-text-stroke: 2px white;
    text-align:center;
    font-size:4em;
    font-weight:800;
    letter-spacing: 1px;
    margin:0;
}
.headerTitle a {
    text-decoration:none;
}

.headerLinks {
    width:200px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:end;
    margin-bottom:2px;
}
.headerLinks a {
    text-decoration:none;
    opacity:0.8;
    color:white;
    font-weight:bold;
    font-size:1.4em;
    transition: all 1s;
}
.headerLinks a:hover {
    opacity:1;
    text-shadow:-0px -0px 5px white;
}


footer {
    height: 15vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerRow {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.footerContent {
    width:200px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}
.footerContent p {
    color:white;
    font-size:1.2em;
}

.footerContent a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    opacity:0.8;
    transition: all 1s;
}

.footerContent a:hover {
    opacity:1;
}



/* Default Page */

.defaultContent {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerContent {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
}

.centerContentRow {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    padding:5px;
}

.pictureDiv {
    height: 190px;
    width: 190px;
    background-image: url("/Images/Owen-Face-Centered.png");
    background-size: 260px;
    background-position: center;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 6px 30px -10px black;
}

.greetingDiv {
    text-align:center;
}
.greetingDiv p {
    font-weight:600;
    font-size:1.6em;
}

.btnHomepage {
    margin: 3px;
    font-size: 1.3em;
    padding: 3px;
    border-radius: 3px;
    
}


/*Default Page Modal*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  max-width:700px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #9DC2F7;
    color: white;
}

.modal-body {padding: 2px 16px;}




/* Projects Page */

.projectsContent, .resumeContent, .itemContent {
    min-height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.projectsHeader, .resumeHeader, .itemHeader {
    width:100%;
    min-height:40vh;
    min-height:300px;
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:10px;
}
.projectsHeaderContent, .resumeHeaderContent, .itemHeaderContent {
    width:90%;
    max-width:850px;
    padding:10px;
    border-radius:5px;
    margin:15px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.buttonDiv {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.buttonDark, .buttonHollow {
    border: 2px solid blue;
    border-radius: 7px;
    text-decoration: none;
    font-size: 1.3em;
    padding: 4px;
    margin: 4px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}

.buttonDark {
    background-color:blue;
    color:white;
}

.buttonHollow {
    color:blue;
}

.homeButton {
    box-shadow: 0 6px 30px -10px black;
    transition: all 1s;
}
.homeButton:hover {
    border:2px solid white;
}


.projectsContainer {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin:15px;
}

.projectCard {
    background-color:white;
    height:200px;
    width:450px;
    margin:7px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    border:2px solid grey;
}
.projectCardBody {
    width:250px;
    height:100%;
    padding:7px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    text-align:left;
}

.projectCardType {
    color:grey
}

.projectCardBodyDivision {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
}

.projectCardTitle {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.projectCardDescription {
    margin-top:0;
    margin-bottom:0;

}

.projectCardLink {
    margin:6px 0;
    display:flex;
    border:2px solid blue;
    border-radius:5px;
    padding:2px 3px 3px 3px;
    color:blue;
    text-decoration:none;
    font-size:0.9em
}

.projectCardPicture {
    height:200px;
    width:200px;
    border-left:2px solid grey;
}





/* Resume Page */

.resumeContainer, .itemContainer {
    max-width: 1000px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    margin:20px;
}

.resumeRow {
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:center;
    align-self:flex-start;
}

.degreeArea {
    width:30%;
    height:200px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    background-color:lightgray;
    border:1px solid black;
}
.containerWhite {
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 4px #888888;
}

.degreeImageContainer {
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.degreeImage {
    height:100px;
    width:100px;
}

.degreeDescriptionContainer {
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.degreeTitle {
    font-size:1em;
    margin:0.2em
}
.degreeDescription {
    margin:0;
    font-size:1em;
}
.certArea {
    width: 70%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: lightgrey;
    border: 1px solid black;
}
.areaRow {
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

.certItem {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 4px #888888;
}
.certImage {
    width:99%;
}


.certItem .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  }

.certItem:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  }

.sidebar {
    width: 30%;
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;

}

.skillsArea, .volunteerArea {
    width: 100%;
    background-color: lightgrey;
    border: 1px solid black;
}

.skillContainer {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    margin-bottom:10px;
}

.skillItem {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 4px;
    padding: 3px;
    line-height: 2em;
    text-wrap: none;
    box-shadow: 5px 5px 4px #888888;
}

.volunteerContainer {
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    margin-bottom: 10px;
}

.volunteerItem {
    text-align: left;
    padding: 5px;
    margin: 3px 0;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    width: 90%;
    box-shadow: 5px 5px 4px #888888
}
.volunteerItemTitle, .volunteerDescription {
    margin:0;
    padding:0;

}

.resumeArea {
    width: 70%;
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}

.resumeImageDiv {
    width: 90%;
    margin: 15px 10px;
    padding:0;
    border: 1px solid black;
    background-color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 4px #888888;
}
.resumeImage {
    width: 100%;
    padding:0;
    margin:0;
    
}

.resumeImageDiv .resumeTooltip {
    visibility: hidden;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position: absolute;
    z-index: 1;
}
.resumeImageDiv:hover .resumeTooltip {
    visibility:visible;
}

.resumeImageDiv:hover .resumeImage {
    opacity:0.5;
}



/* Portfolio Item Page*/
.itemContainer {
    background-color:white;
    min-height:30vh;
    width:90%;
    max-width:1000px;
    border:1px solid black;
    border-radius:7px;

}

.itemSkills {
    width:90%;
    min-width:400px;
    max-width:1000px;
    background-color:grey;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-end;
    text-align:left;
    margin-top:20px;
}
.skillsList {
    width:30%;
}
.skillsList ul {
    padding:5px;
    margin:5px 0;
}
.skillsList h3 {
    margin:5px 0;
}

.itemRow {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.itemPic {
    height:100%;
    width:50%;
    background-color:lightgrey;
}
.itemText {
    height:100%;
    width:50%;
    padding:10px;
}
.itemText p {
}



/*Kraken Signup Page*/
.liNoDecoration {
    list-style-type:none;
}